*{
    padding: 0.3rem;
    
    text-align: center;
}
body{
    /*background-image: url(../img/background.jpg);*/
    background-color: rgb(59, 80, 52);
    background-size: cover;
   
}

.main-container{  
    padding: 30px;     
    box-shadow: 8px 8px 35px 0px rgba(58, 15, 57, 0.75);
     
    width: 50%;   
    display: inline-block;    
    border: 5px solid rgb(92, 2, 110);
    margin: 2rem;    
    border-radius: 20px;
    background-color: rgb(237, 181, 224);
    
}

.codificar{
    margin: 2rem;
    background-color: rgb(250, 209, 243);
}

.decodificar{
    margin: 2rem;
    background-color: rgb(250, 209, 243);
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/*Es para quitarle el coso feo que hace que se alargue, pero se ve feo*/
textarea{
    resize: none;
}

#mensaje{
    font-size: 1.2rem;
}